<!--Modal popup gallery-->
<div class="relative">
  <div
    class="fixed inset-0 flex items-center justify-center z-50 hidden"
    id="backdrop-modal-popup"
  >
    <div
      class="fixed inset-0 backdrop-blur-xl bg-white/30"
      id="backdropBlur-modal-popup"
    ></div>
    <div
      class="absolute left-1/2 z-10 mt-5 w-screen max-w-max -translate-x-1/2 hidden"
      id="modal-popup"
    >
      <div
        class="w-screen max-w-md flex-auto rounded-3xl bg-hoverBg text-sm leading-6 shadow-lg"
      >
        <div class="p-4 md:pt-0 relative" id="popupContainer"></div>
        <div class="p-4 pt-0">
          <button
            class="inline-flex gap-2 justify-center items-center rounded-full px-4 py-2 bg-transparent border dorder-brand font-sans lg:text-base sm:text-sm text-brand leading-1.5 cursor-pointer transition-all duration-250 ease-in hover:border-secondBrand hover:text-secondBrand"
            id="close-modal-popup"
          >
            <svg
              width="16"
              height="16"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="m8.005 16 .895-.896-6.477-6.468H16V7.364H2.433L8.9.896 8.005 0 0 8.005 8.005 16Z"
              />
            </svg>

            <span>Kontynuuj oglądanie</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
