<script src="./src/js/slider/slick.min.js" type="module"></script>
<script src="./src/js/slider/initialSlides.js" type="module"></script>

<script src="./src/js/gallery/getContent.js" type="module"></script>

<script src="./src/js/ancors.js"  type="module"></script>
<script src="./src/js/scrollBtn.js"  type="module"></script>
<script src="./src/js/menu.js"  type="module"></script>
<script src="./src/js/search.js"  type="module"></script>
<script src="./src/js/modals.js"  type="module"></script>

